@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #14161f;
  font-family: "Anek Devanagari", sa;
}

h2 {
  font-family: "Press Start 2P", cursive, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input:focus-visible {
  outline: 1px solid #282a3a;
}

/* LOGIN */
.btn-input {
  background: #282a3a;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Press Start 2P", cursive, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  font-weight: 50;
  line-height: 3.6;
  outline: transparent;
  padding: 0 2rem;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 1.8rem;
}

.button {
  background: #dd0930;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 4rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
/* GREENBTN */
.gbutton {
  background: #76b900;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 4rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.gbutton:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(47, 255, 82, 0.5),
    0.125rem 0.125rem 1rem rgba(222, 255, 200, 0.5);
}

.gbutton:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(47, 255, 82, 0.5),
    0.125rem 0.125rem 1rem rgba(222, 255, 200, 0.5);
}

/* blueBTN */
.bbutton {
  background: #0d6efd;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 4rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.bbutton:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(37, 191, 238, 0.5),
    0.125rem 0.125rem 1rem rgba(12, 177, 243, 0.5);
}

.bbutton:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(27, 99, 255, 0.5),
    0.125rem 0.125rem 1rem rgba(33, 197, 247, 0.5);
}

.Rbutton {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.Rbutton:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(255, 255, 255, 0.5);
}

.Rbutton:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(255, 255, 255, 0.5);
}

.info {
  font-family: "Anek Devanagari", sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.infos {
  font-family: "Noto Sans Thai", sans-serif;
}

.title:hover,
.title:focus,
.title:active {
  color: #dd0930;
  border-color: #dd0930;
}

.input {
  background: #282a3a;
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Press Start 2P", cursive, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 9px;
  font-weight: 30;
  line-height: 3.6;
  outline: transparent;
  padding: 0 2.5rem;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-top: 1.8rem;
}

.aboutcard {
  box-shadow: 0 1px 3px 0 rgb(255 255 255 / 10%) inset;
  border-radius: 25px;
}

/* headerslide */
.container-slick {
  padding: 30px;
}

.headerslide img {
  margin: auto;
  width: 100%;
  height: 500px;
}

/* hotgameslide */

.hotgameslide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-slide > div {
  margin: 0 70px;
}

.slick-list {
  margin: 0 -20px;
}

/* GAMELIST */
.fontholder {
  font-family: "Press Start 2P", cursive, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
}

/* GAMEDETAIL */
.detail img {
  width: 100%;
  height: 100%;
}

.overview {
  background-color: #13151c;
}

.detailinfo img {
  width: 100%;
  height: 100%;
}
